.container {
  display: grid;
  grid-template-columns: 1fr;
  height: 4000px;
}

.background {
  display: flex;
  flex: 1;
  background: rgb(35, 35, 35);
  justify-content: center;
}

/* .planet {
  background: grey;
  width: 30vw;
  height: 30vw;
  border-radius: 50%;
  margin-top: 85vh;
  z-index: 1
} */

/* .planet-inner {
  background: rgb(51, 89, 150);
  width: 30vw;
  height: 30vw;
  border-radius: 50%;
}

.planet-shadow {
  position: relative;
  background: rgb(35, 35, 35);
  width: 30vw;
  height: 27vw;
  border-radius: 50%;
  bottom: 87%;
  box-shadow: 0px -5px 5px 10px rgb(35, 35, 35);
  -moz-box-shadow: 0px -5px 5px 10px rgb(35, 35, 35);
} */

/* .sun {
  position: absolute;
  background: goldenrod;
  width: 7vw;
  height: 7vw;
  border-radius: 50%;
  margin-top: 90vh;
} */

/* .media (max-width: 500px) {
  .planet {
    margin-top: 80vh;
  }
} */
