
@import url('https://fonts.googleapis.com/css?family=Questrial');
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Serif:400,400i');

body {
  margin: 0;
}

.container {
  display: flex;
  flex: 1;
  background: rgb(35, 35, 35);
  width: 100vw;
  height: 100%;
  flex-direction: column;
  align-items: center;
  height: 4000px;
}

.odyssey-scene-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  display: flex;
  justify-content: center;
  text-align: center;
  font-family: 'Questrial', sans-serif;
  color: white;
  z-index: 1;
  padding-top: 40px;
  padding-bottom: 40px;
  width: 100%;
  font-size: 50px;
  background: rgb(35, 35, 35);
}

.title-container {
  display: flex;
  width: 100vw;
  justify-content: center;
  flex-direction: row;
}

.body-copy {
  display: grid;
  padding-top: 25vh;
}

.blurb {
  color: white;
  font-size: 27px;
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: lighter;
  padding: 0 10% 0 10%;
  background: rgb(35, 35, 35);
}

.body-card {
  padding: 0 10% 0 10%;
  color: white;
  display: grid;
  grid-template-columns: 300px 1fr 1fr;
  grid-auto-rows: minmax(100px, auto);
  grid-template-areas:
    "preview title external-icons "
    "preview body body"
    "preview tech-icons .";

  align-items: center;
}

.card-title {
  grid-area: title;
}

.card-body {
  grid-area: body;
  align-self: flex-start;
}

.preview {
  grid-area: preview;
  max-width: 300px;
  height: auto;

}

.tech-icons {
  grid-area: tech-icons;
}

.tech-icon {
  width: 50px;
  height: auto;
}

.external-icons {
  grid-area: external-icons;
  display: flex;
  align-content: center;

}

.external-icon {
  height: 50px;
  width: auto;
  padding: 5px;
}








@media only screen and (max-width: 600px) {
  .title {
    font-size: 30px;
  }

  .blurb {
    font-size: 20px;
  }

  .preview {
    max-width: 200px;
  }
}

/* @media only screen and (max-width: 600px)  {
  .blurb {
    font-size: 40px;
  }
} */
