
@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Lobster|Montserrat|Questrial');
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Mina');

body {
  margin: 0;
}

.container {
  display: flex;
  flex: 1;
  background: rgb(35, 35, 35);
  width: 100vw;
  height: 100%;
  flex-direction: column;
  align-items: center;
  height: 4000px;
}

.odyssey-scene-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  display: flex;
  justify-content: center;
  text-align: center;
  font-family: 'Questrial', sans-serif;
  color: white;
  z-index: 1;
  padding-top: 40px;
  padding-bottom: 40px;
  width: 100%;
  font-size: 50px;
  background: rgb(35, 35, 35);
}

.title-container {
  display: flex;
  width: 100vw;
  justify-content: center;
  flex-direction: row;
}

.body-copy {
  padding-top: 10vh;
}

.blurb {
  color: white;
  font-size: 27px;
  font-family: 'Mina', sans-serif;
  font-weight: lighter;
  z-index: 0;
  padding: 0 10% 0 10%;
}

@media only screen and (max-width: 600px) {
  .body-copy {
    background: coral;
  }
}

/* @media only screen and (max-width: 600px)  {
  .blurb {
    font-size: 40px;
  }
} */
